/* MODELO EJEMPLO DEL MANIFIESTO main.scss */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.brand-container__image {
  border-radius: 10px;
}

body {
  font-family: "Poppins", sans-serif;
}

.brand-container__title {
  font-size: 1.5rem;
}

.input-container__title {
  text-align: center;
  font-weight: 500;
}

.input-container__input {
  font-size: 1.2rem;
  font-weight: 100;
}

.buttons-container__register-text {
  text-align: center;
}

.buttons-container__register-link {
  font-weight: 800;
  color: black;
}

.related__title--emphasis {
  font-weight: 700;
}

.nav {
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 107px;
  height: 74px;
  display: flex;
}

.nav__img--h54px {
  padding: 5px;
  border-radius: 10px;
  height: 54px;
}

.nav__text--weight700 {
  font-weight: 700;
  padding-top: 15px;
  font-size: 18px;
}

.brand-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.brand-container__image {
  width: 3rem;
  height: 3rem;
}

.main-form {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.main-card__container {
  background-color: lightgray;
  border-radius: 10px;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.section1__date-logo {
  display: flex;
  padding-top: 1rem;
  padding-left: 3rem;
}

.section1__title {
  text-align: center;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: clamp(500px, 40%, 700px);
  padding: 1rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 0.5rem;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.remember-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 0.5rem;
}

.buttons-container__register-text {
  width: 100%;
  margin-left: 3.5rem;
}

.buttons-container__register-text2 {
  width: 100%;
  margin-left: 3rem;
}

.novedades__container {
  padding-top: 75px;
  padding-right: 75px;
  padding-left: 75px;
}

.novedades__title {
  font-weight: 700;
  font-size: 42px;
  margin-bottom: 3rem;
}

.novedades__cards {
  display: flex;
}

.card1__container {
  padding-top: 4rem;
}

.card1__image {
  width: 700px;
  height: 310px;
  border-radius: 10px;
}

.card1__date {
  font-weight: 400;
  padding-top: 15px;
  font-size: 18px;
}

.card1__text--emphasis {
  font-weight: 700;
  padding: 15px;
  font-size: 18px;
}

.card1__logo__container {
  display: flex;
}

.card1__logo__image {
  border-radius: 100px;
  height: 54px;
}

.card1__logo__text {
  font-weight: 500;
  padding: 17px;
  font-size: 18px;
}

.section1b__container {
  padding: 40px;
}

.card2__container {
  display: flex;
  padding: 20px;
}

.card2__image {
  height: 145px;
  width: 191px;
  padding: 5px;
  border-radius: 30px;
}

.card2__date {
  font-weight: 400;
  font-size: 15px;
}

.card2__text--emphasis {
  font-weight: 700;
  font-size: 15px;
}

.card2__logo__container {
  display: flex;
}

.card2__logo__image {
  border-radius: 100px;
  height: 44px;
}

.card2__logo__text {
  font-weight: 500;
  padding: 7px;
  font-size: 15px;
}

.card3__container {
  display: flex;
  padding: 20px;
}

.card3__image {
  height: 145px;
  width: 191px;
  padding: 5px;
  border-radius: 30px;
}

.card3__date {
  font-weight: 400;
  font-size: 15px;
}

.card3__text--emphasis {
  font-weight: 700;
  font-size: 15px;
}

.card3__logo__container {
  display: flex;
}

.card3__logo__image {
  border-radius: 100px;
  height: 44px;
}

.card3__logo__text {
  font-weight: 500;
  padding: 7px;
  font-size: 15px;
}

.card4__container {
  display: flex;
  padding: 20px;
}

.card4__image {
  height: 145px;
  width: 191px;
  padding: 5px;
  border-radius: 30px;
}

.card4__date {
  font-weight: 400;
  font-size: 15px;
}

.card4__text--emphasis {
  font-weight: 700;
  font-size: 15px;
}

.card4__logo__container {
  display: flex;
}

.card4__logo__image {
  border-radius: 100px;
  height: 44px;
}

.card4__logo__text {
  font-weight: 500;
  padding: 7px;
  font-size: 15px;
}

.populares__container {
  display: flex;
  padding: 75px;
}

.populares__title {
  font-weight: 700;
  font-size: 42px;
  margin-bottom: 3rem;
}

.populares-card__container {
  display: flex;
}

.card5__container {
  height: 350px;
  width: 300px;
  padding: 1px;
  margin-right: 10px;
}

.card5__image {
  height: 205px;
  width: 300px;
  border-radius: 10px;
}

.card5__date {
  font-weight: 400;
  font-size: 15px;
}

.card5__text--emphasis {
  font-weight: 700;
  text-align: center;
  padding-bottom: 25px;
  font-size: 25px;
}

.card5__logo__container {
  display: flex;
}

.card5__logo__image {
  border-radius: 100px;
  height: 44px;
}

.card5__logo__text {
  font-weight: 500;
  padding: 7px;
  font-size: 15px;
}

.card6__container {
  height: 350px;
  width: 300px;
  padding: 1px;
}

.card6__image {
  height: 205px;
  width: 300px;
  border-radius: 10px;
}

.card6__date {
  font-weight: 400;
  font-size: 15px;
}

.card6__text--emphasis {
  font-weight: 700;
  font-size: 25px;
}

.card6__logo__container {
  display: flex;
}

.card6__logo__image {
  border-radius: 100px;
  height: 44px;
}

.card6__logo__text {
  font-weight: 500;
  padding: 7px;
  font-size: 15px;
}

.section2a2__container {
  display: flex;
}

.card7__container {
  height: 350px;
  width: 300px;
  padding: 10px;
  margin-right: 10px;
}

.card7__image {
  height: 205px;
  width: 300px;
  border-radius: 10px;
}

.card7__date {
  font-weight: 400;
  font-size: 15px;
}

.card7__text--emphasis {
  font-weight: 700;
  font-size: 25px;
}

.card7__logo__container {
  display: flex;
}

.card7__logo__image {
  border-radius: 100px;
  height: 44px;
}

.card7__logo__text {
  font-weight: 500;
  padding: 7px;
  font-size: 15px;
}

.card8__container {
  height: 350px;
  width: 300px;
  padding: 10px;
}

.card8__image {
  height: 205px;
  width: 300px;
  border-radius: 10px;
}

.card8__date {
  font-weight: 400;
  font-size: 15px;
}

.card8__text--emphasis {
  font-weight: 700;
  font-size: 25px;
}

.card8__logo__container {
  display: flex;
}

.card8__logo__image {
  border-radius: 100px;
  height: 44px;
}

.card8__logo__text {
  font-weight: 500;
  padding: 7px;
  font-size: 15px;
}

.categoria__container {
  padding-left: 200px;
}

.categoria__title {
  font-weight: 700;
  font-size: 42px;
  margin-bottom: 3rem;
}

.categoria__block1 {
  border-radius: 10px;
  margin: 10px;
  display: flex;
  background-color: #e93e30;
  height: 90px;
  width: 295px;
}

.categoria__image1 {
  height: 70px;
  width: 60px;
}

.categoria__block1__title--white {
  color: #ffffff;
  font-weight: 700;
  padding-left: 100px;
  padding-top: 15px;
  font-size: 35px;
}

.categoria__block2 {
  border-radius: 15px;
  margin: 10px;
  display: flex;
  background-color: #f7e018;
  height: 90px;
  width: 295px;
}

.categoria__image2 {
  height: 60px;
  width: 50px;
  padding: 5px;
}

.categoria__block2__title--white {
  color: #ffffff;
  font-weight: 700;
  padding-left: 25px;
  padding-top: 15px;
  font-size: 35px;
}

.categoria__block3 {
  border-radius: 10px;
  margin: 10px;
  display: flex;
  background-color: #299ed5;
  height: 90px;
  width: 295px;
}

.categoria__image3 {
  height: 68px;
  width: 59px;
  padding: 5px;
}

.categoria__block3__title--white {
  color: #ffffff;
  font-weight: 700;
  padding-left: 105px;
  padding-top: 15px;
  font-size: 35px;
}

.categoria__block4 {
  border-radius: 10px;
  margin: 10px;
  display: flex;
  background-color: #292c33;
  height: 90px;
  width: 295px;
}

.categoria__image4 {
  height: 68px;
  width: 68px;
  padding: 3px;
}

.categoria__block4__title--white {
  color: #ffffff;
  font-weight: 700;
  padding-left: 65px;
  padding-top: 15px;
  font-size: 35px;
}

.categoria__block5 {
  border-radius: 10px;
  margin: 10px;
  display: flex;
  background-color: #67c770;
  height: 90px;
  width: 295px;
}

.categoria__image5 {
  height: 70px;
  width: 70px;
  padding: 5px;
}

.categoria__block5__title--white {
  color: #ffffff;
  font-weight: 700;
  padding-left: 90px;
  padding-top: 15px;
  font-size: 35px;
}

.categoria__block6 {
  border-radius: 10px;
  margin: 10px;
  display: flex;
  background-color: #563d7c;
  height: 90px;
  width: 295px;
}

.categoria__image6 {
  height: 68px;
  width: 59px;
  padding: 5px;
}

.categoria__block6__title--white {
  color: #ffffff;
  font-weight: 700;
  padding-left: 15px;
  padding-top: 15px;
  font-size: 35px;
}

.categoria__tex {
  font-weight: 400;
  font-size: 15px;
  color: #000000;
  padding-left: 15px;
}

.footer {
  height: 74px;
  display: flex;
  color: black;
}

.footer__container {
  display: flex;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 107px;
}

.footer__image {
  padding: 5px;
  border-radius: 10px;
  height: 54px;
}

.footer__text--weight700 {
  font-weight: 700;
  padding-top: 15px;
  font-size: 15px;
}

.footer__text--weight400 {
  font-weight: 400;
  padding-left: 750px;
  padding-top: 30px;
  font-size: 15px;
}

.subscription {
  background-color: green;
  border-radius: 10px;
  height: 10rem;
  width: 70rem;
  padding: 1rem;
  padding-inline: 5rem;
  margin-left: 5rem;
}

.sub__title--white {
  color: white;
  width: 30rem;
  font-size: 2rem;
  margin-left: 8rem;
  justify-content: center;
}

.input_button {
  display: flex;
  justify-content: space-evenly;
}

.related {
  padding: 1.5rem;
}

.related-cards {
  display: flex;
  justify-content: space-evenly;
}

.buttons-container__button {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
  height: 3rem;
  cursor: pointer;
}

.buttons-container__image {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 100%;
}

.buttons-container__button--login {
  background-color: green;
  color: white;
  text-decoration: none;
  width: 350px;
}

.buttons-container__button--google-login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 350px;
  background-color: white;
}

.subscription__button--gray {
  background-color: lightgray;
  font-weight: 700;
  border-radius: 5px;
  height: 3rem;
  width: 10rem;
  margin-top: -3rem;
}

.input-container__input {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  width: 100%;
  height: 3rem;
}

.checkbox-container__checkbox-input {
  width: 1.5rem;
  height: 1.5rem;
}

.sub__input {
  border-radius: 10px;
  height: 3rem;
  width: 30rem;
}

/*# sourceMappingURL=style.css.map */
