.novedades__container {
  padding-top: 75px;
  padding-right: 75px;
  padding-left: 75px;
}

.novedades__title {
  font-weight: 700;
  font-size: 42px;
  margin-bottom: 3rem;
}

.novedades__cards {
  display: flex;
}
.card1__container {
  padding-top: 4rem;
}

.card1__image {
  width: 700px;
  height: 310px;
  border-radius: 10px;
}
.card1__date {
  font-weight: 400;
  padding-top: 15px;
  font-size: 18px;
}
.card1__text--emphasis {
  font-weight: 700;
  padding: 15px;
  font-size: 18px;
}

.card1__logo__container {
  display: flex;
}
.card1__logo__image {
  border-radius: 100px;
  height: 54px;
}
.card1__logo__text {
  font-weight: 500;
  padding: 17px;
  font-size: 18px;
}
.section1b__container {
  padding: 40px;
}
.card2__container {
  display: flex;
  padding: 20px;
}

.card2__image {
  height: 145px;
  width: 191px;
  padding: 5px;
  border-radius: 30px;
}
.card2__date {
  font-weight: 400;
  font-size: 15px;
}
.card2__text--emphasis {
  font-weight: 700;
  font-size: 15px;
}
.card2__logo__container {
  display: flex;
}

.card2__logo__image {
  border-radius: 100px;
  height: 44px;
}

.card2__logo__text {
  font-weight: 500;
  padding: 7px;
  font-size: 15px;
}

.card3__container {
  display: flex;
  padding: 20px;
}

.card3__image {
  height: 145px;
  width: 191px;
  padding: 5px;
  border-radius: 30px;
}
.card3__date {
  font-weight: 400;
  font-size: 15px;
}
.card3__text--emphasis {
  font-weight: 700;
  font-size: 15px;
}
.card3__logo__container {
  display: flex;
}

.card3__logo__image {
  border-radius: 100px;
  height: 44px;
}

.card3__logo__text {
  font-weight: 500;
  padding: 7px;
  font-size: 15px;
}
.card4__container {
  display: flex;
  padding: 20px;
}

.card4__image {
  height: 145px;
  width: 191px;
  padding: 5px;
  border-radius: 30px;
}
.card4__date {
  font-weight: 400;
  font-size: 15px;
}
.card4__text--emphasis {
  font-weight: 700;
  font-size: 15px;
}
.card4__logo__container {
  display: flex;
}

.card4__logo__image {
  border-radius: 100px;
  height: 44px;
}

.card4__logo__text {
  font-weight: 500;
  padding: 7px;
  font-size: 15px;
}